header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3f70f0;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
}

.nav-sections {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-section-item {
  margin: 1.25rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
  transition: 0.3s ease-in-out;
}

.nav-section-item:hover {
  color: white;
  border-bottom: 1px solid white;
}
