<header>
  <p class="logo">LocalEase</p>

  <div class="nav-sections">
    <p class="nav-section-item" (click)="navigateTo('')">Home</p>
    @if (isLoggedIn() | async) {
      <p class="nav-section-item" (click)="navigateTo('bookings')">Bookings</p>
      <p class="nav-section-item" (click)="navigateTo('profile')">Profile</p>
      <p class="nav-section-item" (click)="logout()">Logout</p>
    } @else {
      <p
        class="nav-section-item"
        (click)="navigateTo('authentication/register')"
      >
        Register
      </p>
      <p class="nav-section-item" (click)="navigateTo('authentication/login')">
        Login
      </p>
    }
  </div>
</header>
