<div class="main-container">
  <img
    [src]="'assets/images/' + user()?.profileImageUrl"
    alt="Profile Avatar"
    class="profile-image"
  />

  <p class="name">{{ user()?.username }}</p>

  @if (user()?.userType === UserType.ServiceProvider && withInfo()) {
    <p class="provider-category">{{ servicesCategory()?.name }}</p>

    <app-star-rating [readOnly]="true" [value]="user()?.rating" />

    <div class="reviews-section">
      <p class="reviews-title">Reviews</p>

      @for (review of reviews(); track review.id) {
        <app-review-card [review]="review" [reviewerName]="user()?.username!" />
      }
    </div>
  }
</div>
