.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100vh 75px 75px 1fr;
  min-height: 100vh;
  row-gap: 10px;
  padding-bottom: 2rem;
  background-color: #f0f4f4;
}

.hero {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  height: 100%;
}

.hero-background {
  height: calc(100vh - 89px);
  background-color: #8b8f9b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 4rem;
  color: white;
  text-align: center;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
  font-style: italic;
  margin: 0;
}

.search {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.trending {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

.trending .title {
  font-size: 2rem;
  font-weight: bold;
}

.services-grid {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 0 1rem;
}
